.card {
	@extend .resting-shadow;
	position: relative;
	border-radius: 2px;
	width: 100%;
	margin-bottom: $vertical-keyline;
	overflow: hidden;
	img {
		display: block;
	}
	.optional-header {
		padding: $horizontal-margin;
		max-height: 9 * $vertical-keyline;
		div {
			display: inline-block;
		}
		.text {
			/*vertical-align: super;*/
			width: calc(100% - 96px);
			overflow: hidden;
		}
		.avatar {
			position: relative;
			background-color: #999999;
			width: 5 * $vertical-keyline;
			height: 5 * $vertical-keyline;
			overflow: hidden;
			border-radius: 50%;
			margin-right: $horizontal-margin;
		}
		.title {
			font-size: 1.14rem;
			line-height: 1.2;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.subhead {
			font-weight: $medium;
			font-size: 1rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.overflow-menu {
			padding: $vertical-keyline 0;
			text-align: end;
			overflow: hidden;
			float: right;
			opacity: .56;
		}
	}
	.rich-media {
		position: relative;
        overflow: hidden;
		& > img {
			position: relative;
			width: 100%;
		}
		& > .title {
			@extend .headline;
			line-height: normal;
			position: absolute;
			color: #fff;
			bottom: 0;
			left: 0;
			margin: 0;
			padding: $horizontal-margin;
		}
		.scrim {
			position: absolute;
			left: 0;
			width: 100%;
			height: $toolbar-height;
			&.top {
				top: 0;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
			}
			&.bottom {
				bottom: 0;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
			}
		}
		.actions {
			position: absolute;
			top: 0;
			width: 100%;
			padding: $vertical-margin;
			color: #ffffff;
			i {
				margin: 0 $vertical-keyline;
			}
			.action-area {
				display: inline-block;
				&:last-child {
					float: right;
				}
				&:first-child {
					float: left;
				}
				&.right {
					float: right;
				}
			}
		}
	}
	.primary-text {
		box-sizing: border-box;
		padding: $horizontal-margin;
		padding-top: 3 * $vertical-keyline;
		max-height: 10 * $vertical-keyline;
		.title {
			@extend .headline;
			line-height: normal;
			white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis;
		}
		.subhead {
			font-weight: $medium;
			font-size: 1rem;
			line-height: normal;
			white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis;
		}
	}
	.supporting-text {
		padding: $horizontal-margin;
		background-color: inherit;
		p {
			position: relative;
			padding: 0;
			margin: 0;
			@extend .b1;
			background-color: inherit;
			max-height: 5 * $vertical-keyline;
			overflow: hidden;
			&:after {
				speak: none;
				text-rendering: auto;
				transform: translate(0, 0);
				content: "...";
				height: 24px;
				background-color: inherit;
				width: 24px;
				position: absolute;
				top: 19px;
				right: 0;
			}
		}
	}
	.supplemental-actions {
		padding: $vertical-keyline;
		position: relative;
		opacity: .87;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		i {
			margin: 0 $vertical-keyline;
		}
		button {
			padding: 0 $vertical-keyline;
			&:first-child {
				margin-left: 0;
			}
		}
		.action-area {
			display: inline-block;
			&.right {
				float: right;
				padding: 12px 0;
				padding-right: $vertical-keyline;
			}
		}
	}
}
